{{ $ := .root }}
{{ $page := .page }}

<!-- Projects widget -->
<div class="row">
  <div class="col-xs-12 col-md-4 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
  </div>
  <div class="col-xs-12 col-md-8">
    {{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}

    <div id="container-projects" class="isotope">
      <ul class="fa-ul" style="position: relative">

        {{ range where $.Data.Pages "Type" "project" }}
        <li class="project-item isotope-item {{ delimit .Params.tags " " }}">
          <span class="project-title">
          {{ if .Content }}
          <a href="{{ .Permalink }}">
          {{ else }}
            {{ with .Params.external_link }}<a href="{{ . }}" target="_blank">{{ end }}
          {{ end }}
          <i class="fa-li fa fa-files-o pub-icon" aria-hidden="true"></i>
          {{ .Title }}
          {{ if .Content }}</a>{{ else }}{{ with .Params.external_link }}</a>{{ end }}{{ end }}
          </span>
          {{ with .Params.summary }}<p class="project-summary">{{ . | markdownify }}</p>{{ end }}
        </li>
        {{ end }}
      </ul>
    </div>

    </div>

  </div>
</div>
