{{ $ := .root }}
{{ $page := .page }}
{{ $teachings_len := len (where (where $.Data.Pages "Type" "teaching") ".Params.notonhomepage" nil) }}

<!-- Blog Posts widget -->
<div class="row">
  <div class="col-xs-12 col-md-4 section-heading">

    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
    {{ if gt $teachings_len $page.Params.count }}
    <p class="view-all">
      <a href="{{ "/teaching/" | relLangURL }}">
        {{ i18n "more_information" | markdownify }}
        <i class="fa fa-angle-double-right"></i>
      </a>
    </p>
    {{ end }}

  </div>
  <div class="col-xs-12 col-md-8" itemprop="description" style="text-align:justify;">
 {{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}
    <ul>
      {{ range (where $.Data.Pages "Type" "teaching") }}
      {{ partial "teaching_li" . }}
      {{ end }}
    </ul>
  </div>
</div>