<li>
 <div>
  <div>
    {{ if .Params.active }}
    <h3><a href="{{ .Permalink }}">{{ .Params.coursecode }}</a> :  {{.Params.coursename}}</h3> 
    <div class="article-metadata">
    <span class="article-date">
      ({{.Params.season }}{{.Params.year}})
    </span>
    </div>
    {{else}}
    <h3 style="color: grey;"><a href="{{ .Permalink }}">{{ .Params.coursecode }}</a> :  {{.Params.coursename}}</h3> 
    <div class="article-metadata" >
    <span class="article-date">
      ({{.Params.season}}{{.Params.year}})
    </span>
    </div>
    {{end }}

  </div>
</li>
