{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

{{ partial "header_image.html" . }}

<div class="universal-wrapper">

  {{ with .Title }}<h1>{{ . }}</h1>{{ end }}

  {{ with .Content }}
  <div class="article-style" itemprop="articleBody">{{ . }}</div>
  {{ end }}

  {{ $paginator := .Paginate .Data.Pages }}
  {{ $has := $paginator.Pages}}

  <h3>Postdoctoral Researchers:</h3>
  {{ range  $has  }}
  {{ if eq .Params.typecode 0}}
  <div>
    <h4><a href="{{ .Permalink }}">{{ .Params.name }}</a> :  {{.Params.role}}</h4>
  </div>
  {{end}}
  {{ end }}

  <h3>Ph.D Students:</h3>
  {{ range  $has  }}
  {{ if eq .Params.typecode 1}}
  <div>
    <h4><a href="{{ .Permalink }}">{{ .Params.name }}</a> :  {{.Params.role}}</h4>
  </div>
  {{end}}
  {{ end }}

  <h3>Master Students:</h3>
  {{ range  $has  }}
  {{ if eq .Params.typecode 2}}
  <div>
    <h4><a href="{{ .Permalink }}">{{ .Params.name }}</a> :  {{.Params.role}}</h4>
  </div>
  {{end}}
  {{ end }}

  <h3>Undergraduate Students:</h3>
  {{ range  $has  }}
  {{ if eq .Params.typecode 3}}0
  <div>
    <h4><a href="{{ .Permalink }}">{{ .Params.name }}</a> :  {{.Params.role}}</h4>
  </div>
  {{end}}
  {{ end }}

  {{ partial "pagination" . }}

</div>
{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}