{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

{{ $autolink := default true .Params.autolink }}

<article class="article article-project" itemscope itemtype="http://schema.org/Article" style="min-height: 500px">
<div id="cantaner">
  <div class="col-xs-12 col-md-4">
    <div id="profile">
      <div class="portrait" style="background-image: url('{{ $.Site.BaseURL }}img/{{ $.Params.avatar }}');"></div>
      <meta itemprop="image" content="{{ $.Params.avatar }}">

      <div class="portrait-title">
        <h2 itemprop="name">{{ $.Params.name }}</h2>
        <h3 itemprop="jobTitle">{{ $.Params.role }}</h3>
        {{ if .Params.organization }}
        <h3 itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
          {{ with .Params.organization_url }}<a href="{{ . }}" target="_blank" itemprop="url">{{ end }}
            <span itemprop="name">{{ .Params.organization }}</span>
          {{ if .Params.organization_url }}</a>{{ end }}
        </h3>
        {{ end }}
      </div>

      <link itemprop="url" href="{{ $.Site.BaseURL }}">

      <ul class="social-icon" aria-hidden="true">
        {{ range .Params.social }}
        {{ $pack := or .icon_pack "fa" }}
        <li>
          <a itemprop="sameAs" href="{{ .link | safeURL }}" target="_blank">
            <i class="{{ $pack }} {{ $pack }}-{{ .icon }} big-icon"></i>
          </a>
        </li>
        {{ end }}
      </ul>

    </div>
  </div>
  <div class="col-xs-12 col-md-8" itemprop="description" style="text-align:justify;min-height: 300px">
    <br / >
    {{ .Content }}

    <div class="row">

      {{ with .Params.interests }}
      <div class="col-sm-5">
        <h3>{{ i18n "interests" | markdownify }}</h3>
        <ul class="ul-interests">
          {{ range .interests }}
          <li>{{ . }}</li>
          {{ end }}
        </ul>
      </div>
      {{ end }}

      {{ with .Params.education }}
      <div class="col-sm-7">
        <h3>{{ i18n "education" | markdownify }}</h3>
        <ul class="ul-edu fa-ul">
          {{ range .courses }}
          <li>
            <i class="fa-li fa fa-graduation-cap"></i>
            <div class="description">
              <p class="course">{{ .course }}{{ with .year }}, {{ . }}{{ end }}</p>
              <p class="institution">{{ .institution }}</p>
            </div>
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}

    </div>
     <div id="memeber-contact" style="">
    <h3> Contact </h3>
    <ul class="fa-ul" itemscope>
      {{ with .Params.email }}
      <li>
        <i class="fa-li fa fa-envelope fa-2x" aria-hidden="true"></i>
        <span id="person-email" itemprop="email">
        {{- if $autolink }}<a href="mailto:{{ . }}">{{ . }}</a>{{ else }}{{ . }}{{ end -}}
        </span>
      </li>
      {{ end }}
      {{ with .Params.keybase }}
      <li>
        <i class="fa-li fa fa-lock fa-2x" aria-hidden="true"></i>
        <span>
          <a href="https://keybase.io/{{ . }}" target="_blank">@{{ . }}</a> on Keybase.
        </span>
      </li>
      {{ end }}

      {{ with .Params.phone }}
      <li>
        <i class="fa-li fa fa-phone fa-2x" aria-hidden="true"></i>
        <span id="person-telephone" itemprop="telephone">
        {{- if $autolink }}<a href="tel:{{ . }}">{{ . }}</a>{{ else }}{{ . }}{{ end -}}
        </span>
      </li>
      {{ end }}
      {{ with .Params.skype }}
      <li>
        <i class="fa-li fa fa-skype fa-2x" aria-hidden="true"></i>
        <span>
        {{- if $autolink }}<a href="skype:{{ . }}?call">{{ . }}</a>{{ else }}{{ . }}{{ end -}}
        </span>
      </li>
      {{ end }}
      {{ with .Params.telegram }}
      <li>
        <i class="fa-li fa fa-telegram fa-2x" aria-hidden="true"></i>
        <span>
        {{- if $autolink }}<a href="https://telegram.me/{{ . }}" target="_blank">@{{ . }}</a>{{ else }}@{{ . }}{{ end -}}
        </span>
      </li>
      {{ end }}
      {{ with .Params.address }}
      <li>
        <i class="fa-li fa fa-map-marker fa-2x" aria-hidden="true"></i>
        <span id="person-address" itemprop="address">{{ . }}</span>
      </li>
      {{ end }}

      {{ with .Params.office_hours }}
      <li>
        <i class="fa-li fa fa-clock-o fa-2x" aria-hidden="true"></i>
        <span>{{ . }}</span>
      </li>
      {{ end }}

    </ul>
</div>
  </div>
  
    </div>
</article>

{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}